.chat-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-top: 70px;
}

.message-container {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.recieved {
	align-items: flex-end;
	text-align: left;
}

.sent {
	align-items: flex-start;
	text-align: right;
}
