.listingContainer {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
}
.listingImageContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main g h"
    "main j k ";

  height: 55%;

  padding: 10px 150px 40px 150px;
  gap: 10px;
}
.imageBox {
}
.bgInbonx1 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  grid-area: main;
}
.bgInbonx2 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.bgInbonx3 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.bgInbonx4 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.bgInbonx5 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.listingTitle {
  padding: 0;
  margin: 0;
}
.listingTitleSection {
  /* width: 100%; */
  padding: 100px 150px 0 150px;
  display: flex;
  flex-direction: column;
}
.listingTitleDetail {
}
.listingTitleDesc {
  padding: 0;
  margin: 0 0 0 0;
}

.listingContentContainer {
  padding: 10px 150px 40px 150px;
  display: flex;
}
.listingContentHostImage {
  object-fit: cover;
  height: 112px;
  width: 88px;
  border-radius: 5px;
}
.listingContentHostImageContainer {
  display: flex;
  height: 20%;
}

.listingContentHost {
  display: flex;
  border-bottom: 1px solid grey;
  max-height: 38%;
  width: 50%;
  border: 0.1rem solid rgba(0, 47, 52, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.listingContentHostDetails {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  width: 100%;
}
.listingContentContainerRight {
  width: 50%;
  margin-left: 1%;
}
.listingContentContainerRightLayout {
  border: 0.1rem solid rgba(0, 47, 52, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.startday {
  width: 50%;
  margin-right: 4%;
}
.endday {
  width: 50%;
}
.price {
  margin-left: 6%;
}
.listingButton {
  margin-bottom: 3%;
  margin-top: 30%;
}
#listingbutton {
  color: white;
  background-color: tomato;
  width: 90%;
  /* margin-top: 50px; */
  height: 60%;
  margin-left: 3%;
}
.listingBottomLeft {
  width: 49%;
}
.listingBottom {
  display: flex;
}
.listingBottomLeft {
}
.listingBottomLeft-layout {
  border: 0.1rem solid rgba(0, 47, 52, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 3%;
}
.d-flex {
  display: flex;
}

.p {
  margin-left: 9%;
  margin-top: 1%;
}
.listingLeftAmenities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.listingBottom {
  padding: 10px 150px 40px 150px !important;
}

@media screen and (max-width: 768px) {
  .qqq {
    flex-direction: column-reverse;
    display: flex;
  }
  .listingTitleSection {
    width: auto;
    padding: 0;
    display: block;
    flex-direction: none;
    font-size: 12px;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .bgInbonx1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    grid-area: main;
  }
  .bgInbonx2 {
    display: none;
  }
  .bgInbonx3 {
    display: none;
  }
  .bgInbonx4 {
    display: none;
  }
  .bgInbonx5 {
    display: none;
  }
  .listingImageContainer {
    display: block;
    grid-template-columns: 0;
    grid-template-rows: 0;
    /* grid-template-areas:
        "main g h"
        "main j k "; */
    height: auto;
    padding: 0;
    grid-gap: 0;
    gap: 0;
  }
  .listingContentContainer {
    padding: 0;
    display: block;
  }
  .listingBottom {
    padding: 0 !important;
  }
  .listingContainer {
    margin-top: 18%;
    padding: 2%;
    width: auto;
  }
  .listingContentHost {
    width: auto;
    margin-bottom: 7%;
  }
  .listingContentContainerRight {
    width: auto;
    margin-left: auto;
    margin-bottom: 7%;
}
.listingBottomLeft {
  width: auto;
}
.listingTitleDesc {
  padding: 1%;
  margin: 1%;
}
.listingTitleDetails{
  font-size: 11px;
}
.listingBottom {
  display: block;
}
}
