.item {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 105px;
	border: 1px solid lightgrey;
	margin-top: 2px;
}

.item .avatar-container {
	flex: 1;
	background-color: white;
	border-right: 1px solid lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item .details {
	flex: 3;
	display: flex;
	flex-direction: column;
	background-color: white;
	justify-content: center;
	align-items: center;
}

.item .details .title {
	font-size: 14;
	font-weight: bold;
}

.item .details .sub-title {
	font-size: small;
	font-style: italic;
}
