.form-main {
  padding: 5%;
  height: 75%;
}

.form-layout {
  /* border: 0.1rem solid rgba(0, 47, 52, 0.2); */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form-heading {
  text-align: center;
}
.form-heading > h1 {
  /* font-family: "roboto"; */
}

.aaa {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 80%;

}

.root {
  margin: 1;

  /* //   width: "50ch", */
}
.button {
  display: "block";
  margin-top: 2;
}
.formControl {
  /* // width: "50ch", */
  margin: 1;
  /* margin: theme.spacing(1), */
  min-width: 120;
  /* minWidth: 120, */
}
.ql-toolbar.ql-snow {
 display: flex;
 justify-content: center;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.editor-layout {
  /* border: 0.1rem solid rgba(0, 47, 52, 0.2); */
  height: 400px;
  display: flex;
  flex-direction: column;
}
.picture {
  margin-top: 4% !important;
}
@media screen and (max-width: 768px) {
  .picture {
    margin-top: 7% !important;
  }
  .form-main {
   
    margin-top: 10%;
  }
  .aaa{
    width: auto;
  }
}
