.eachpostmain {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: center;
}
.card-main {
  padding: 5px;
  font-family: 'Noto Sans JP', sans-serif;
}

.card {
  max-width: 280px;
  /* height: 320px; */
  /* border: 0.1rem solid rgba(0, 47, 52, 0.2); */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.card-bottom {
  padding: 11px;
}
.cardImg {
  text-align: center;
  border-radius: 5px;
}
.cardImg > img {
  width: 280px;
  max-height: 158px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.cardprice {
  min-height: 10%;
}

.card-desc {
  min-height: 15%;
  font-family: 'Noto Sans JP', sans-serif;
}

.card-desc > p {
  overflow-wrap: anywhere;
  font-family: 'Noto Sans JP', sans-serif;
}
.cardname {
  min-height: 12%;
  font-family: 'Noto Sans JP', sans-serif;
}
.spin {
  margin: 18% 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;

  border-radius: 4px;
}
.searchdiary-main {
  margin-top: 6%;
}
@media screen and (max-width: 768px) {
  .card-main {
    padding: 11px;
  }
  .searchdiary-main {
    margin-top: 17%;
    /* margin-left: 11%; */
  }
  .makeStyles-formControl-7 {
    margin: 8px;
    min-width: 197px !important;
}
}
